@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/amerigo-bold-bt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('./assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('./assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
}

#root {
  width: 100%;
  height: 100vh;
  text-align: center;
  /* font-family: 'CustomFont'; */
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}